<a href="https://colab.research.google.com/github/manhduc07/bai-tap/blob/master/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [2]:
import numpy as np
import pandas as pd

In [39]:
jk = pd.Series(np.random.randint(300,size = 10))
print (jk)

0    283
1    153
2    268
3    194
4    171
5     49
6    246
7    278
8    153
9    268
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [6]:
dict_1 = {'biệt danh':'Dứa', 'Tên': 'Mạnh', 'công việc': 'sinh viên', 'tuổi': 19, 'ước mơ': 'qua môn'}
M = pd.Series(dict_1)
print(M)

biệt danh          Dứa
Tên               Mạnh
công việc    sinh viên
tuổi                19
ước mơ         qua môn
dtype: object

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [42]:
jk_id = []
for i in jk.index:
    jk_id.append(f'số thứ {i}:')
S2 = pd.Series(jk.values, index=jk_id)
S2

số thứ 0:     70
số thứ 1:     38
số thứ 2:    242
số thứ 3:     76
số thứ 4:    229
số thứ 5:    193
số thứ 6:    292
số thứ 7:     38
số thứ 8:    198
số thứ 9:      7
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [8]:
print(M[4])

qua môn

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [43]:
print(S2['số thứ 7:'])

38

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [38]:
#Lấy các số thứ (0-6)
S_2[[int(name[-1]) <6 for name in S_2.index]]

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [44]:
jk.index.name = 'STT'
jk.name = 'Gia_tri'
print(jk)

STT
0     70
1     38
2    242
3     76
4    229
5    193
6    292
7     38
8    198
9      7
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [45]:
S_log = pd.Series([np.log(gt) for gt in S.values])
S_log.name = 'logarith'
S_log

0    2.772589
1    5.225747
2    5.493061
3    3.433987
4    4.605170
5    4.615121
6    4.890349
7    5.652489
8    5.081404
9    5.648974
Name: logarith, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [46]:
S[S>15]

0     16
1    186
2    243
3     31
4    100
5    101
6    133
7    285
8    161
9    284
dtype: int64